@using Agendamento.Models;

@model IEnumerable<DadosAgendamento>
@{ 
    ViewBag.Title = "FutLife";
    DadosAgendamento agendamento = ViewBag.ReservaEspecifica != null ?
        Model.FirstOrDefault(x => x.Id == (int)ViewBag.ReservaEspecifica)
        : new DadosAgendamento();
}


<!--Conteúdo Principal-->

<main class="d-flex">

    <!--Box Reserva-->

    <div class="container mx-auto mb-3">
        <div class="row text-white justify-content-center">

            <div class="col-10 col-md-5 mx-3 my-5 pb-2 rounded" id="reserva">
                @Html.Partial("Agendamento_Cadastro", agendamento)                
            </div>

            <!--Box Agendamento-->
            <div class="col-10 col-md-5 mx-3 my-5 pb-2 rounded" id="agendamentos">
                <form action="@Url.Action("AlterarCancelarReserva", "Home")" method="post">

                    <h1 class="mx-3 my-2">Meus Agendamentos</h1>

                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        DadosAgendamento item = Model.ElementAt(i);

                        <div class="form-check">
                            @Html.RadioButton("Id", item.Id, htmlAttributes: new { @class = "form-check-input my-5" })

                            <label class="form-check-label col-11 mx-2 my-4 py-2 rounded" for="@item.Id">
                                Nome: @Html.DisplayFor(x => item.Nome)
                                Sobrenome: @Html.DisplayFor(x => item.Nome)
                                <br/>
                                Quadra: @Html.DisplayFor(x => item.Quadra)
                                Horário: @Html.DisplayFor(x => item.Horario)
                                <br />
                                Jogadores: @Html.DisplayFor(x => item.Jogadores)
                            </label>
                        </div>
                    }

                    <button type="submit" name="cancelarReserva" class="btn btn-light btn-lg mt-5 w-100">Cancelar Reserva</button>
                    <button type="submit" name="alterarReserva" class="btn btn-success btn-lg w-100">Alterar</button>
                </form>
            </div>
        </div>
    </div><!--fim row-->
    <!--</div>--><!--fim container-->

</main>




<!-- Rodapé -->

<footer>
    <div class="container">
        <div class="row">
            <div class="barra-lateral col-md-2">
                <img src="~/Content/img/futlife.svg" width="142">
            </div>
            <div class="col-md-2">
                <h4>Sobre nós</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id lorem nec massa fringilla ultrices ut sit amet justo</p>
            </div>

            <div class="col-md-2">
                <h4>E-mail</h4>
                <p>Tem alguma dúvida?</p>
                contato@futlife.com
            </div>

            <div class="col-md-2">
                <h4>Telefone</h4>
                <p>Ligue a qualquer hora</p>
                (31)99999-9999
            </div>


        </div>
    </div>
</footer>

<!-- Rodapé -->
<!-- JavaScript (Opcional) -->
<!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>